html body[for="html-export"] .markdown-preview {
  width: 100%;
}

html {
  font-size: 100%;
}

.custom-TOC {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 200px;
  height: 94%;
  font-size: .85rem;
  overflow: scroll;
  line-height: 120%;
  margin: 3% 0%;
  margin-top: 20px;
}

.custom-TOC summary {
  z-index: -2;
  position: fixed;
  top: 0;
  width: 31%;
  height: 100%;
}

html body h1 {
  margin: 0;
}

.custom-TOC ul {
  display: table-row;
  font-size: 1rem;
  margin: 0 2%;
}

.custom-TOC ul>li>ul>li {
  font-size: .85rem;
}

.custom-TOC ul ul {
  display: list-item;
}

.custom-TOC details[open] {
  z-index: 4;
  background: rgba(255, 355, 255, .85);
}

.custom-TOC details[open]:hover,
.custom-TOC details[open]:focus {
  background: #fff;
  opacity: 1;
}
