.wrapper {

  display:grid;
grid-template-columns: 3fr repeat(2, 1fr);
grid-template-rows: 2fr 3fr 1fr;


}

* {box-sizing: border-box;}


.one{
grid-column:1/4;

}

.two{
grid-column:2/4;
}

.three{
grid-column:1/1;
grid-row:2/4;
}

.four{
grid-column:2 span;

}


.five{
grid-column:1/4;
}

.wrapper > div {
border: 2px solid #fff;

background-color: #ffd8a8;
padding: 1em;
color: #d9480f;
}
